.grid-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 80vw;
    margin: auto;
    padding: 0.5rem;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .grid-container {
        width: 100%;
    }
}