.sketches-container {
    width: 100%;
    min-height: 100vh;
    background-color: blue;
}

.grid-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 1080px;
    margin: auto;
    padding: 0.5rem;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .grid-container {
        width: 100%;
    }
}