@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import '../../../styles.scss';

.tree-item-container {
    display: flex;
    flex-direction: row;
    color: $text-color;
    font-family: 'DIN', monospace;
    font-size: 16px;
    user-select: none;
    // text-shadow: 0 0 5px $text-color;

    .tree-icon-container {
        min-width: 16px;
        text-align: center;
        height: 100%;
    }
}

.nav-item {
    cursor: none;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    color: $text-color;
    display: inline-block;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
    white-space: nowrap;

    // span {
    //     display: inline-block;
    //     transform: translateY(-3px);
    // }
}

.nav-item:hover {
    background-color: color-mix(in srgb, $text-color, transparent 80%);
    color: $text-color;
}

.nav-item.active {
    background-color: color-mix(in srgb, $text-color, transparent 50%);
}

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 1.5rem;
        gap: 0.1rem;
        display: flex;
        flex-direction: column;
    }
}

.sub-menu.expanded {
    max-height: 400px;
}

