@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import '../../../styles.scss';

.tree-item-container {
    display: flex;
    flex-direction: row;

    .tree-icon-container {
        width: 1.5rem;
        font-size: small;

        i {
            vertical-align: bottom;
            transition: transform 0.1s ease;
        }

        i.expanded {
            transform: rotate(90deg);
        }


    }
}

.nav-item {
    all: unset;
    user-select: none;
    // font-weight: 600;
    // font-family: monospace;
    font-family: 'ITC Avant Garde', monospace;
    font-size: 10pt;
    padding: 0.2rem 0.2rem;
}

.nav-item:hover {
    background-color: $fg-color;
    color: $bg-color;
}

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 1.5rem;
        gap: 0.1rem;
        display: flex;
        flex-direction: column;
    }
}

.sub-menu.expanded {
    max-height: 200px;
}

