<nav class="nav-container">
    <tree-item [name]="NavItem.About" [link]="'/about'"></tree-item>
    <tree-item [name]="NavItem.Projects">
        <tree-item [name]="'Project 1'"></tree-item>
        <tree-item [name]="'Project 2'"></tree-item>
        <tree-item [name]="'Project 3'">
            <tree-item [name]="'Project 4'"></tree-item>
            <tree-item [name]="'Project 5'"></tree-item>
        </tree-item>
        <tree-item [name]="'Project 6'">
            <tree-item [name]="'Project 7'"></tree-item>
            <tree-item [name]="'Project 8'"></tree-item>
            <tree-item [name]="'Project 9'">
                <tree-item [name]="'Project 10'"></tree-item>
                <tree-item [name]="'Project 11'"></tree-item>
        </tree-item>
        </tree-item>
    </tree-item>
    <tree-item [name]="NavItem.Crawl" [link]="'/crawl'"></tree-item>
    <tree-item [name]="NavItem.Sketches" [link]="'/sketches'"></tree-item>
</nav>