<button id="nav-toggle" class="nav-button" (click)="toggleExpand()">
        <i class="fas" [ngClass]="expanded ? 'fa-times' : 'fa-bars'"></i>
</button>
<nav class="nav-main" [ngClass]="{'hide': !expanded}">
    <div class="tree-container" [ngClass]="{'show': expanded}" #tree>
        <tree-item [name]="NavItem.About" [link]="'/about'"></tree-item>
        <tree-item [name]="NavItem.Projects">
            <tree-item [name]="'Coming soon'"></tree-item>
        </tree-item>
        <tree-item [name]="NavItem.Sketches" [link]="'/sketches'"></tree-item>
        <tree-item [name]="NavItem.Crawl" [link]="'/crawl'"></tree-item>
    </div>
        <!-- <button class="nav-button" (click)="toggleExpand()">
            <i class="fas fa-bars"></i>
        </button> -->
</nav>

<!-- <button class="nav-button" (click)="toggleExpand()">
    <i class="fas fa-bars"></i>
</button> -->