@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import '../../../styles.scss';

.nav-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: $fg-color;
  row-gap: 0.2rem;
}