.grid-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    height: fit-content;
    flex: 1;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
}

.grid-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

// .grid-item {
//   opacity: 0;
//   transform: translateY(30px);
//   transition: opacity 0.4s ease, transform 0.4s ease;
// }

// .grid-item.show {
//   opacity: 1;
//   transform: translateY(0);
// }