@import '../../../styles.scss';

.grid-item {
    width: 100%;
    height: auto;
    position: relative;
    // transform: scale(1);
    transform: translateY(10%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.grid-item.show {
    opacity: 1;
    transform: translateY(0%);
}

.grid-item img {
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
    display: block;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, black 50%, transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;

    // background-image: radial-gradient(circle, $fg-color 1px, transparent 1px);
    // background-size: 4vw 4vw;
    // background-position: center;
    // border: 1px dashed color-mix(in srgb, $fg-color 50%, transparent);
}

.item-text {
    position: absolute;
    left: 0;
    padding: 1rem;
    bottom: 0;
    color: white;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 0.75rem;
    }
}

.item-overlay.show {
    opacity: 1;
}

.fa.fa-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    font-size: 2rem;
    color: $fg-color;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}