<div class="grid-item" [ngClass]="{'show': showDefault}" (mouseenter)="setHovered(true)" (mouseleave)="setHovered(false)" #gridItem>
    <img *ngIf="image"
        [src]="image.imageUrl"
        [alt]="image.alt"/>
    <video-container *ngIf="video" [data]="video"></video-container>
    <div class="item-overlay" [ngClass]="{'show': hovered}">
        <!-- <i class="fa fa-spinner"></i> -->
        <div class="item-text">
            <p *ngIf="showTitle">{{ title }}</p>
            <p *ngIf="showPublishDate">{{ publishedDate }}</p>
        </div>
    </div>
</div>