@import '../../../styles.scss';

.grid-item {
    width: 100%;
    height: auto;
    transform: scale(1);
    transform: translateY(10%);
}

.grid-item.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $fg-color;
    opacity: 0;
    transition: opacity 0.3s ease;
}