@import '../../../styles.scss';

::selection {
    background-color: color-mix(in srgb, $text-color 20%, transparent);
    color: $text-color;
}

.text-container {
    opacity: 0;
}

.project-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'DIN', monospace;
    padding: 0 1rem;
    animation: fadeIn 0.5s ease forwards;
    box-sizing: border-box;

    .content-pane {
        flex: 0.5;
        min-height: fit-content;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        grid-item {
            display: block;
            width: 100%;
        }
    }

    .text-pane {
        top: 0;
        left: 0;
        color: $fg-color;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;

        .text-heading h3 {
            margin: 1rem 0;
            color: $fg-color;
            font-size: 32px;
        }

        .text-body {
            line-height: 1.5;

            p:first-child {
                margin-top: 0;
            }
        }
    }
}

.line {
    border-bottom: 1px dashed var(--text-color, white);
    width: 100%;
    margin: 2rem 0;
}

.fade-in {
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 9pt;
    margin: 0.5rem 0rem;
    color: $fg-color;

    span {
        white-space: nowrap;
        font-family: 'DIN', monospace;
        padding: 0.2rem 0.5rem;
    }

    span:first-child {
        padding-left: 0;
    }

    span:not(:first-child)::before {
        content: '+';
        display: inline-block;
        margin-right: 1rem;
    }
}

span:has(.project-link) {
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.image-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .project-images {
        overflow: hidden;
    }
}

.image-header {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    overflow: hidden;
    // animation: headerFadeIn 0.5s ease forwards;
}

.image-header > img {
    width: 100%;
    user-select: none;
    pointer-events: none;
    display: block;
}

.project-link {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.2; 
    font-family: 'DIN', monospace;
    text-decoration: underline;
    color: $text-color;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.project-link:hover {
    background-color: color-mix(in srgb, $text-color 20%, transparent);
    color: $text-color;
}

.btn-toggle {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.2; 
    font-family: 'DIN', monospace;
    text-decoration: underline;
    color: $text-color;
    cursor: none;
    transition: color 0.1s ease, background-color 0.1s ease;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .project-column {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .content-pane, .text-pane {
        height: auto;
        position: relative !important;
    }
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}