<ng-container *ngIf="project">
    <div class="project-column">
        <div *ngIf="!(loading$ | async)" class="text-pane">
            <div *ngIf="headerImage" class="image-header">
                <img [src]="headerImage.imageUrl" alt="">
            </div>
            <div class="text-container" [class.fade-in]="isAnimating">
                <div class="text-heading">
                    <h3>{{project.title}}</h3>
                </div>
                <div class="text-body">
                    <ng-container *ngFor="let block of project?.description">
                        <p *ngIf="block._type === 'block'">
                            <ng-container *ngFor="let child of block.children">
                                <span [innerHTML]="renderSpan(child, block)"></span>
                            </ng-container>
                        </p>
                    </ng-container>
                </div>
                <div class="line"></div>
                <div class="meta">
                    <ng-container *ngFor="let tag of project?.tags">
                        <span>{{tag}}</span>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="projectImages && projectImages.length > 0" class="image-container">
                <ng-container *ngFor="let image of projectImages">
                    <grid-item [image]="image" [showDefault]="true" [showPublishDate]="false"></grid-item>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!(loading$ | async) && notFound">
    <img src="images/fly_1.gif" alt="not found" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
</ng-container>