@import '../../../styles.scss';


::selection {
    background-color: black;
    color: white;
}

.text-container {
    opacity: 0;
    padding: 3rem;
    padding-top: 0;
}

.project-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    font-family: 'Necto Mono', monospace;
    justify-content: center;
    background-color: white;

    .content-pane {
        background-color: black;
        flex: 0.5;
        overflow-y: scroll;
        min-height: fit-content;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        grid-item {
            display: block;
            width: 100%;
        }
    }

    .text-pane {
        flex: 0.5;
        // position: sticky;
        top: 0;
        left: 0;
        // height: 100vh;
        color: black;
        background-color: white;
        font-size: 16px;
        // overflow: auto;

        .text-heading {
            // border-bottom: 1px solid black;
            font-family: 'Coconat Regular', monospace;
            margin-top: 2rem;
            
            h3 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
                font-size: 42px;
            }
        }

        .text-body {
            line-height: 1.5;

            p:first-child {
                margin-top: 0;
            }
        }

        .text-meta {
            position: relative;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: row;
            margin: 0rem 2rem;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;

            .meta-tag {
                align-self: flex-start;
                flex: 1;
                padding: 0.25rem;

                span {
                    margin-left: 0.5rem;
                }
            }

            .meta-tag:not(:last-child) {
                border-right: 1px solid black;
            }
        }

        .text-meta:first-child {
            border-top: 1px solid black;
        }
    }
}

 .fade-in {
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 9pt;
    margin: 0.5rem 0rem;

    span {
        white-space: nowrap;
        font-family: 'Coconat Regular', monospace;
        padding: 0.2rem 0.5rem;
    }
}

span:has(.project-link) {
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.image-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 2rem;
    padding: 0.5rem;
}

.image-header > img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    animation: headerFadeIn 0.5s ease forwards;
}

.project-link {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.2; 
    font-family: 'Necto Mono', monospace;
    // padding: 0.2rem 0.2rem;
    text-decoration: underline;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.project-link:hover {
    background-color: $fg-color;
    color: $bg-color;
}

.project-link:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .project-column {
        flex-direction: column;
    }

    .text-pane {
        min-height: 75vh;
    }

    .content-pane, .text-pane {
        flex: 1;
        height: auto;
        position: relative !important;
    }
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}