@import '../../../styles.scss';


::selection {
    background-color: black;
    color: white;
}

.project-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 100vh;
    margin: auto;
    // color: $fg-color;
    font-family: monospace;
    /* overflow: hidden; */

    .content-pane {
        background-color: black;
        flex: 0.45;
        overflow-y: scroll;
        min-height: fit-content;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        grid-item {
            display: block;
            width: 100%;
        }
    }

    .text-pane {
        flex: 0.55;
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        color: black;
        background-color: white;

        .text-heading {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 0 1rem;
            margin-top: 2rem;
            
            h3 {
                font-weight: normal;
            }
        }
    }
}

span:has(.project-link) {
//    border-top: 1px solid black;
//     border-bottom: 1px solid black;
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.project-link  {
    color: black;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    padding: 0.25rem;
    transition: background-color 0.1s, color 0.1s;
    border-bottom: 1px solid black;
}

.project-link:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .project-column {
        flex-direction: column;
    }

    .content-pane, .text-pane {
        flex: 1;
        height: auto;
        position: relative !important;
    }
}