@import '../../../styles.scss';

nav {
    // border-right: 1px dashed $fg-color;
    background-color: $bg-color;
    flex: 0.1; 
    height: 100vh;
    font-family: monospace;
    position: sticky;
    min-width: 32px;
    width: 32px;
    color: $fg-color;
    top: 0;
    left: 0;

    transition: all 0.3s ease;

    .nav-links {
        margin-top: 1rem;
        margin-left: 0.5rem;
        opacity: 1;
        width: fit-content;
        transition: all 0.3s ease;
    }

    .nav-links.hide {
        opacity: 0;
        visibility: hidden;
    }
}

nav.expanded
{
    flex: 0.1;
    min-width: 192px;
    width: 192px;
}

.nav-top {
    // border-bottom: 1px solid $fg-color;
    // padding: 0.3rem;
    // text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 10pt;

    .nav-top-l {
        flex: 1;
        max-width: 192px;
        transition: flex 0.3s ease, max-width 0.3s ease;
        padding: 0.5rem;
        // border-right: 1px solid $fg-color;

        span {
            margin: auto;
        }
    }

    .nav-top-l.collapsed {
        flex: 0;
        max-width: 0px;
        padding: 0;
        overflow: hidden;
    }

    .nav-top-r {
        flex: 0;
        padding: 0.5rem;

        button {
            all: unset;
            width: 100%;
            height: 100%;

            i {
            vertical-align: bottom;
            // transition: transform 0.1s ease;
            }

            i.expanded {
                // transform: rotate(180deg);
            }
        }

    }
}