<div class="window">
    <div class="border-h-row">
        <div class="corner">+</div>
            <div class="border-h">
                <span></span>
            </div>
        <div class="corner">+</div>
    </div>
    <div class="border-v-row">
        <div style="width: 12pt; display: flex;">
            <div class="border-v"><span></span></div>
        </div>
        <div style="flex: 1;">
            <ng-content></ng-content>
        </div>
        <div style="width: 12pt; display: flex;">
            <div class="border-v"><span></span></div>
        </div>
    </div>
    <div class="border-h-row">
        <div class="corner">+</div>
            <div class="border-h">
                <span></span>
            </div>
        <div class="corner">+</div>
    </div>
</div>