$bg-color: var(--bg-color, black);
$fg-color: var(--fg-color, white);

@font-face {
    font-family: 'Ronzino';
    src: url('../public/fonts/Ronzino-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('../public/fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    cursor: none !important;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.blog-video {
    width: 540px;
    height: auto;
    // cursor: pointer;
    margin: auto;
    display: block;

    video {
        width: 100%;
        height: auto;
    }
}

.blog-image {
    width: 100%;
    height: auto;
    transform: scale(1);
    // cursor: pointer;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.5s ease;
    transform: translateY(10%);
    visibility: hidden;
    user-select: none;
}

.blog-image.show {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
}

.blog-image:hover {
    transform: scale(0.975);
    opacity: 0.5;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    width: 512px;
    height: fit-content;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1024px;
    gap: 8px;
    padding: 8px;
    margin: auto;
}

.arrow-down {
    height: 3rem;
    width: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    mix-blend-mode: difference;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow-down.show {
    opacity: 1;
}
