$bg-color: var(--bg-color, black);
$fg-color: var(--fg-color, white);

@font-face {
    font-family: 'Ronzino';
    src: url('../public/fonts/Ronzino-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('../public/fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sinistre Dark';
    src: url('../public/fonts/Sinistre-Dark.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    transition: background-color 0.3s ease;
    cursor: none !important;
    font-family: 'ITC Avant Garde', sans-serif;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.blog-video {
    width: 100%;;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    video {
        width: 100%;
        height: auto;
        display: block;
    }
}

// .blog-image:hover {
//     transform: scale(0.975);
//     opacity: 0.5;
// }

.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    height: fit-content;
    flex: 1;
}

.grid-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 75%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.arrow-down {
    height: 3rem;
    width: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    mix-blend-mode: difference;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow-down.show {
    opacity: 1;
}
