$bg-color: var(--bg-color, black);
$fg-color: var(--fg-color, white);

@font-face {
    font-family: 'Ronzino';
    src: url('../public/fonts/Ronzino-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('../public/fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sinistre Dark';
    src: url('../public/fonts/Sinistre-Dark.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Necto Mono';
    src: url('../public/fonts/NectoMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karrik Regular';
    src: url('../public/fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coconat Regular';
    src: url('../public/fonts/Coconat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus Sans Regular';
    src: url('../public/fonts/NimbusSanL-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.loader {
    width: 48px;
    height: 48px;
    border: 6px solid $fg-color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite, fadeIn 0.3s ease forwards;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

nav {
    border-right: 1px dashed $fg-color;
    background-color: $bg-color;
    flex: 0.1; 
    height: 100vh;
    font-family: monospace;
    position: sticky;
    min-width: 192px;
    color: $fg-color;
    top: 0;
    left: 0;

    .nav-links {
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
}

.nav-top {
    // background-color: $fg-color;
    // color: $bg-color;
    // padding: 0.3rem;
    // text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 10pt;

    .nav-top-l {
        flex: 1;
        padding: 0.5rem;
    }

    .nav-top-r {
        flex: 0;
        padding: 0.5rem;

        i {
            vertical-align: bottom;
            // transition: transform 0.1s ease;
        }

        i.expanded {
            transform: rotate(180deg);
        }
    }
}

main {
    flex: 1; 
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    transition: background-color 0.3s ease;
    cursor: none !important;
    font-family: 'ITC Avant Garde', sans-serif;
    overscroll-behavior-y: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.blog-video {
    width: 100%;;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    video {
        width: 100%;
        height: auto;
        display: block;
    }
}

// .blog-image:hover {
//     transform: scale(0.975);
//     opacity: 0.5;
// }

nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    height: fit-content;
    flex: 1;
}

.arrow-down {
    height: 2rem;
    width: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    mix-blend-mode: difference;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow-down.show {
    opacity: 1;
}

.gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(
    to top,
    color-mix(in srgb, black, transparent 50%),
    color-mix(in srgb, black, transparent 100%),
    );
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 1;
}

.gradient.show {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .grid-container {
        width: 100%;
    }
}
