<div class="canvas-container" [class.ready]="!rendering" #canvasContainer></div>
<div class="about-view" [class.ready]="!rendering">
    <section></section>
    <section id="about-content">
    <div class="about-column">
        <div style="display: flex; flex-direction: column; position: relative; height: 100vh;">
            <div style="flex: 0.5"></div>
<div style="flex: 0;">
        <!-- <window> -->
<!-- <pre style="display: block; margin: auto;">
  ______   _________  ______   ______   ______   ______     
 /_____/\ /________/\/_____/\ /_____/\ /_____/\ /_____/\    
 \::::_\/_\__.::.__\/\::::_\/_\:::_ \ \\:::_ \ \\:::_ \ \   
  \:\/___/\  \::\ \   \:\/___/\\:\ \ \ \\:\ \ \ \\:\ \ \ \  
   \:::._\/   \::\ \   \_::._\:\\:\ \ \ \\:\ \ \ \\:\ \ \ \ 
    \:\ \      \::\ \   /_____\/ \:\_\ \ \\:\_\ \ \\:\_\ \ \
     \_\/       \__\/   \_____/   \_____\/ \_____\/ \_____\/
</pre> -->
<pre style="display: block; margin: auto;">
_________  ________    _______________________  ____________________
\_   ___ \ \_____  \   \      \__    ___/  _  \ \_   ___ \__    ___/
/    \  \/  /   |   \  /   |   \|    | /  /_\  \/    \  \/ |    |   
\     \____/    |    \/    |    \    |/    |    \     \____|    |   
 \______  /\_______  /\____|__  /____|\____|__  /\______  /|____|   
        \/         \/         \/              \/        \/          
</pre>
        <!-- </window> -->
        <div class="about-container">
            <div style="flex: 1;">
                <div class="flex-center-container">
                    <div class="spacer"><p></p></div>
                    <div style="flex: 0; min-width: fit-content;"><a href="https://github.com/ft5000" target="_blank">GITHUB</a></div>
                    <div class="spacer"><p></p></div>
                    <div style="flex: 0; min-width: fit-content;"><a href="mailto:fabian.tjernstrom@gmail.com">EMAIL</a></div>
                    <div class="spacer"><p></p></div>
                    <div style="flex: 0; min-width: fit-content;"><a href="https://www.linkedin.com/in/fabian-tjernstr%C3%B6m-b6028520a/" target="_blank">LINKEDIN</a></div>
                    <div class="spacer"><p></p></div>
                </div>
            </div>
        </div>
        <div class="about-container">
                <p>Software Engineer && Web Enthusiast</p>
                <p>based in Stockholm, Sweden</p>
            </div>
        <!-- <window>
            <div class="about-container">
                <p>Software Engineer && Web Enthusiast</p>
                <p>based in Stockholm, Sweden.</p>
            </div>
        </window> -->
<!-- <pre style="display: block; margin: auto; margin-top: 12pt;">
     ,?      
    ( :      
     ;)      
     |       
   ,-.-j     
  ;|   |     
  `|   |     
   |   `.    
   |,; |; ,-.
   |U  | /();
 f`-^-^-',-' 
  `-----'    
</pre> -->
                <div class="about-container" style="position: absolute; bottom: 0;">
                    <p>&copy;{{year}} Fabian Tjernström</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
