@import '../../../styles.scss';

.about-container {
    font-family: 'Necto Mono', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 600px;
    min-width: 250px;
    aspect-ratio: 1 / 1;
    margin: auto;
    color: $fg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container p {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    text-align-last: center;
    justify-content: space-between;
}

#about-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    // aspect-ratio: 16 / 9;
    // width: min(1920px, 100vw);
    min-width: 1920px;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: forwards fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #about-bg {
        left: -30%;
        transform: translate(-35%, -50%);
    }
}