@import '../../../styles.scss';

.about-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 600px;
    min-width: 250px;
    aspect-ratio: 1 / 1;
    margin: auto;
    color: $fg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container p {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    text-align-last: center;
    justify-content: space-between;
}

#about-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: forwards fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}