<div class="about-container">
    <!-- <div class="title-container">
        <ng-container>
            <p *ngFor="let line of text">
                <span *ngFor="let char of line.split('')">{{ char }}</span>
            </p>
        </ng-container>
    </div> -->
    <div style="flex: 0;">
        <div class="flex-center-container" style="margin-top: 0.5rem;">
            <div class="spacer"><p></p></div>
            <div style="flex: 0; min-width: fit-content;">CONTACT</div>
            <div class="spacer"><p></p></div>
        </div>
        <div class="flex-center-container">
            <div class="spacer"><p></p></div>
            <div style="flex: 0; min-width: fit-content;">GITHUB</div>
            <div class="spacer"><p></p></div>
            <div style="flex: 0; min-width: fit-content;">EMAIL</div>
            <div class="spacer"><p></p></div>
            <div style="flex: 0; min-width: fit-content;">LINKEDIN</div>
            <div class="spacer"><p></p></div>
        </div>
    </div>
    <!-- <div class="about-footer">
        <div>© 2025 Fabian Tjernström</div>
    </div> -->
</div>
<!-- <canvas id="about-bg"></canvas> -->
