@import '../../../styles.scss';

.about-container {
    font-family: 'Necto Mono', monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    // aspect-ratio: 1 / 1;
    margin: auto;
    color: $fg-color;
    display: flex;
    flex-direction: column;
    // height: 200vh;
    background-color: $bg-color;
    padding: 1rem 0;

    a {
        color: $fg-color;
        text-decoration: none;
        cursor: none !important;
    }
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.about-footer {
    height: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.about-container p {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    text-align-last: center;
    justify-content: space-between;
}

.flex-center-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    font-size: 9pt;

    .spacer {
        flex: 1 1 0%;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;

        display: flex;
    }

    .spacer > p {
        align-self: flex-end;
        position: relative;
        height: 12pt;
    }

    .spacer > p::after {
        content: "...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        pointer-events: none;
    }
}

#about-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    // aspect-ratio: 16 / 9;
    // width: min(1920px, 100vw);
    min-width: 1920px;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: forwards fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #about-bg {
        left: -30%;
        transform: translate(-35%, -50%);
    }
}