<pre style="display: block; margin: auto;">
_________  ________    _______________________  ____________________
\_   ___ \ \_____  \   \      \__    ___/  _  \ \_   ___ \__    ___/
/    \  \/  /   |   \  /   |   \|    | /  /_\  \/    \  \/ |    |   
\     \____/    |    \/    |    \    |/    |    \     \____|    |   
 \______  /\_______  /\____|__  /____|\____|__  /\______  /|____|   
        \/         \/         \/              \/        \/          
</pre>
<div class="flex-center-container">
    <div class="spacer"><p></p></div>
    <div style="flex: 0; min-width: fit-content;"><a href="https://github.com/ft5000" target="_blank">GITHUB</a></div>
    <div class="spacer"><p></p></div>
    <div style="flex: 0; min-width: fit-content;"><a href="mailto:fabian.tjernstrom@gmail.com">EMAIL</a></div>
    <div class="spacer"><p></p></div>
    <div style="flex: 0; min-width: fit-content;"><a href="https://www.linkedin.com/in/fabian-tjernstr%C3%B6m-b6028520a/" target="_blank">LINKEDIN</a></div>
    <div class="spacer"><p></p></div>
</div>
<div class="about-container">
    <p>Software Engineer && Web Enthusiast</p>
    <p>based in Stockholm, Sweden</p>
</div>
<div class="about-container" style="position: absolute; bottom: 0;">
    <p>&copy;{{year}} Fabian Tjernström</p>
</div>
