@import '../../../styles.scss';



.about-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;

    svg {
        width: min(256px, 80%);
        height: auto;
    }
}

.about-container::selection {
    background-color: color-mix(in srgb, $text-color 20%, transparent);
    color: $text-color;
}

section {
    color: $text-color;
    font-family: 'DIN', monospace;

    h3 {
        font-size: 14px;
        font-weight: normal;
    }

    .section-body {
        border-top: 1px dashed $text-color;
        width: 100%;
        font-size: 14px;
    }

    .link-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;

        a {
            all: unset;
            cursor: none;
        }

        a:hover {
            color: $text-color;
            background-color: color-mix(in srgb, $text-color 20%, transparent);
        }
    }
}

@media screen and (max-width: 768px) {
    .logo-container {
        margin-top: 50%;
        margin-bottom: 50%; 
    }
}
