@import '../../../styles.scss';

.about-view {
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;

    section {
        flex: 1;
        background-color: transparent;
        transition: background-color 0.5s ease;
    }
}

.about-column {
    width: 1024px;
    margin: auto;
    height: 100%;
}

.about-container {
    font-family: 'Necto Mono', monospace;
    width: 100%;
    color: $fg-color;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    font-size: 10pt;
    text-align: center;

    a {
        color: $fg-color;
        text-decoration: none;
        cursor: none !important;
    }

    p {
        margin: 0.5rem 0;
    }
}

pre {
    display: block;
    width: fit-content;
    font-size: clamp(8pt, 2vw, 10pt);
    color: $fg-color;
    margin: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.about-footer {
    height: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.flex-center-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    font-size: 9pt;

    .spacer {
        flex: 1 1 0%;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;

        display: flex;
    }

    .spacer > p {
        align-self: flex-end;
        position: relative;
        height: 12pt;
    }

    .spacer > p::after {
        content: "...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        pointer-events: none;
    }
}

#about-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    aspect-ratio: 2660 / 1440;
    // width: min(1920px, 100vw);
    min-width: 1920px;
    width: 100%;
    min-height: 100vh;
    // height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: forwards fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #about-bg {
        left: -30%;
        transform: translate(-35%, -50%);
    }

    .about-column {
        width: 100%;
    }
}